#root {
  font-family: "Oswald", sans-serif;
  background-color: rgba(214, 2214, 212, 0.2);
  color: #3b3a32;
}

.navb{
  background-color: #fff;
}
.btn-perso-1 {
  color: #3b3a32 !important;
  transition: all .5s ease-in-out !important;
}
.btn-perso-1 i {
  color: #3b3a32 !important;
  transition: all .5s ease-in-out !important;
}
.btn-perso-1:hover{
  color: #ffbb02;
  background-color: #3b3a32 !important;
}
.btn-perso-1:hover i{
  color: #ffbb02 !important;
}
.btn-perso-1:hover  a{
  color: #ffbb02 !important;
}
#myNavBar1{
  box-shadow: 2px 2px #eee;
}

#myNavBar1 li{
  color: #3b3a32 !important;
  transition: all .3s ease-in-out !important;
}

#myNavBar1:hover li{
  opacity: 0.2;
  filter: blur(0.px);
}

#myNavBar1 li:hover{
  opacity: 1;
  filter: blur(0px);
}

#myNavBar a{
  text-decoration: none !important;
  color: #3b3a32 ;
  transition: all .3s ease-in-out !important;

}

/***************** Search box ****************/

.myNavBar3 .btn {
  background-color: #ffbb02 !important;
  max-width: 40px;
  border: none !important;
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  margin-bottom: 5px;

}

.myNavBar3 .btn i {
  transition: all .3s ease-in-out !important;
  color: #3b3a32 !important;
}

.myNavBar3 .btn:hover i {
  font-size: 18px;
}

.myNavBar3 .form-control {
  border-top-left-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
  background-color: rgba(214, 2214, 212, 0.2) !important;
  display: inline-block;
}

.myNavBar3 form-group {
  margin-bottom: 0px;
}

@media only screen and(min-width : 900px){
  .myNavBar3 .form-control{
    width: 250px;
  }
}
@media only screen and(min-width : 1200px){
  .myNavBar3 .form-control{
    width: 300px;
  }
}



/**************************************************Beforehead *****************************/
.topNavBar{
  background-color: #ffbb02;
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
}

.topNavBar p {
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  color: #3b3a32;
  font-size: 25px;
  font-family: cursive;
  text-align: center;
  top: 0;
  left: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space:  nowrap;
}

/********************* CartComponent  ******************************/
.cartItem {
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 15px !important;
  margin-top: 8px;
}

.cartItem img {
  border-radius: 10px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonCart {
  margin-left: 5px;
  background-color: #3b3a32 !important;
  border: none;
  max-width: 35px;
  box-shadow: 2px 2px  0 rgba(0,0,0, 0.15);

}

.buttonCart span {
  transition: all .3s ease-in-out;
}


.buttonCart:hover span {
  font-size:  20px;
}

.buttonCart-middle {
  height: 55px;
  width: 30px;
} 

.buttonCart-delete {
    border-radius: 50% !important;
    background-color: #fa3c3c !important;
    transition: all .3s ease-in-out;
}

.spaceCart {
  min-height: 400px;
}


/*************************** Total Component ***********************/
.totalRow {
  background-color: #fff;
  width: 100%;
  min-height : 75px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin: auto 0px;
}

.text-total {
  font-family: 'Permanent Marker', cursive;
  letter-spacing : 0.3;
  text-transform : uppercase;
  font-size : 25px
}

.totalButton {
  margin-right: 5px;
  background-color: #3b3a32 !important;
  border: none !important;
  box-shadow: 1px 3px 5px 2px #656565;
}

/*************************** Small nav ***********************/

/*********************** title component *********************/
.text-title {
  font-family: cursive;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.text-yellow{
  color : #ffbb02;
}
.totalRow span {
  color: #ffbb02;
}



#navBarSmallScreen i{
  color: #3b3a32
}



@media only screen and(min-width : 250px){
  #navBarSmallScreen input{
    width: 155px;
  }
}

@media only screen and(min-width : 500px){
  #navBarSmallScreen input{
    width: 200px;
  }
}

/*************************** Panier ***********************/
.cartCount {
  display: none;
  background-color : #ffbb02;
  font-size: 14px;
  min-width: 22px;
  min-height: 22px;
  border: 2px solid #fff;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  border-radius: 50%;
  z-index: 2;
}


.myNavBar2 fas:hover {
  color : #ffbb02 !important;
  background-color: #3b3a32 !important;
}


/************* search component ****************/
.searchContainer {
  min-height: 500px !important;
}

/**********  footer ***************/
footer {
  background-color: #282828;
  margin-top: 20px;

}

.footer-copyright {
  color: white;
  font-size: 20px;
  opacity: 0.7;
}

.footer-copyright a{
  text-decoration: none;
  color: wheat !important;

}

.list-link li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffbb02;
  width: 45px;
  height: 45px;
  border-radius: 10px ;
}


.list-link  {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.list-link li i{
  color: white !important ;
}

#social-fb:hover {
  color : #3b5998 !important;
}
#social-tw:hover {
  color : #4099ff !important;
}
#social-gp:hover {
  color : #d34836 !important;
}
#social-em:hover {
  color : #fa3c3c !important
  ;
}

.social {
  transition: all ease-in-out 0.5s;
}

.social :hover {
 transform: scale(1.3);
}

/**************** Go to Top Btn *****************/

.goToTopBtn {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffbb02;
  color: white;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  bottom: 40px;
  right: 50px;
  padding: 8px;
}

.goToTopBtn i {
  color: white !important;
  transition: all .3s;
}
.goToTopBtn:hover i{
  color: #3b3a32 !important;

}

html {
  scroll-behavior: smooth;
}